.scrollable-content {
    height: 300px; 
    overflow-y: scroll; 
  }
  
.user-message {
    text-align: right; 
    margin-bottom: 0.5rem;
}

.bot-message {
    text-align: left; 
    margin-bottom: 0.5rem;
}